/*typography*/

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 1em;
}

.h1-contact {
	font-size: 30px;
}

h1 span {
	font-weight: normal;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 1.2em;
}

.Subdivision {
	width:80%;
	padding-left: 40px;
}

.quote {
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	text-align: left;
	width: 250px;
}

h3 {
	font-family: "Exo 2";
	font-size: 15px;
	font-style: normal;
	margin: 10px;
	padding-bottom: 10px;
}

.h3-contact {
	font-size: 20px;
	font-weight: bold;
}

.mini-bio {
	text-align: left;
	width: 250px;
}

.brag {
	font-style: oblique;
}

.Callout {
	color: #000000;
	text-align: left;
	width: 80%;
}

.graph-text {
	align-items: center;
	display: flex;
	height: 80%;
	justify-content: center;
}

h4 {
	font-family: "Exo 2";
	font-size: 13px;
	font-weight: bold;
	margin-top: 40px;
	text-align: right;
	width: 120px;
}

p {
	color: #000000;
	font-family: "Exo 2";
	font-size: 15px;
	font-style: normal;
	text-align: left;
	line-height: 1.3em;
	margin: 10px;
	width: 80%;
}

.case-p{
	padding-left: 40px;
}

.list {
	color: #000000;
	font-weight: bold;
	font-family: "Exo 2";
	font-size: 12px;
	line-height: 1.25em;
	margin-left: 5px;
	text-align: left;
	width: 250px;
}

/*flex containers*/

.two-column-container {
	display: flex;
	flex-direction: row;
	flex: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}

.four-column-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

.left, .right{
	flex-direction: column;
	width:100%;
}

/*buttons*/

.arrow {
	border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid #7D0343;
  height: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity:0.6;
	width: 0;
}


.button {
	background: #FFCDCD;
	border-radius: 5px;
	color: #7D0343;
	display: block;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 200px;
}

.button-alt {
	background: #ffffff;
	border-radius: 5px;
	color: #7D0343;
	display: block;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 200px;
}

.button:hover {
	background: #0795C3;
	color: #ffffff;
}

.button-alt:hover {
	background: #0795C3;
	color: #ffffff;
}

/*Header content*/

#main-nav {
	align-items: center;
	background-image: url("../images/frame/mobile-header.svg");
	background-repeat: no-repeat;
	display: flex;
	flex: 1;
	height: 85px;
	justify-content: space-between;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	background-size:100%;
	background-position:bottom left;
}

.desktop-frame {
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: -1;
}

#face {

	height: 50px;
	margin: 10px;
	margin-top:1px;
	width: 50px;
}

#menu {
	height: 50px;
	justify-content: center;
	margin: 10px;
	width: 50px;
}

.menu-icon {
	filter: invert(1);
	margin-top:1px;
	margin-right:5px;
	height: 50px;
	width: 50px;
}

/*Big Head display*/

#big-face {
	height: 120px;
	margin: 10px;
	padding: 10px;
	width: 120px;
}

/*Content*/
main {
}

body {
	background-color: #ec8a8a;
	color: #7d0343;
	width: 100%;
	min-width: 360px;
}

.body-alt {
	align-items: center;
	background-color: #ffffff;
	color: #7d0343;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.body-alt-other {
	align-items: center;
	background-color: #FFcdcd;
	color: #7d0343;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

/*BODY this indicates the content of the body and centers it as a column*/

#content {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 90px;
}

/*Indicates speech bubble behavior - After and Before behavior will be below their respective classes*/

.bubble-part-top {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	width: 280px;
}

.bubble-part-top:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;
}

/**/

.bubble-part-bottom {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	width: 280px;
}

.bubble-part-bottom:after {
	border: 21px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	content: '';
	height: 0;
	left: 70%;
	margin-left: -10.5px;
	margin-top: -21px;
	position: absolute;
	top: 0;
	width: 0;
}

/**/

.bubble-part-contact {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	width: 280px;
}

.bubble-part-contact:after {
	border: 21px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-right: 0;
	content: '';
	height: 0;
	left: 30%;
	margin-left: -10.5px;
	margin-top: -21px;
	position: absolute;
	top: 0;
	width: 0;
}

/**/

.bubble-full {
	align-items: center;
	background: #FFF0F0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding-top:10px;
	position: relative;
	text-align: center;
	width: 100%;
}

.case-content {
	display:flex;
	flex-direction: row-reverse;
}

/**/

/**/

.bubble-full-white {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	width: 100%;
}

/*class denoted -accent are for case studies*/

.bubble-full-white-accent {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding-bottom: 100px;
	position: relative;
	text-align: center;
	width: 100%;
}

.bubble-full-white-accent:after {
	border: 21px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	content: '';
	height: 0;
	left: 10%;
	margin-left: -10.5px;
	margin-top: -21px;
	position: absolute;
	top: 0;
	width: 0;
}

/**/

.bubble-full-pink-accent {
	align-items: center;
	background: #EC8A8A;
	border-radius: 0px 0px 10px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 100%;
}

.bubble-full-pink-accent:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(236,138,138)' fill-opacity='1'%3E%3Cpolygon points='0,100 100,100 100,0'%3E%3C/polygon%3E%3C/svg%3E");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 10vw;
	left: 0;
	position: absolute;
	pointer-events: none;
	right: 0;
	top: -9.9vw;
	width: 100%;
	z-index: 1;
}

/**/

/*Speech bubble navs*/

.nav {
	left: 10px;
	position: absolute;
	top: 20px;
}

.nav-horizontal {
	align-items: center;
	display: flex;
	height: 60px;
	flex: 1;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 20px;
}

.circle {
	border: 2px solid #7D0343;
	border-radius: 50%;
	height: 5px;
	margin: 2px;
	width: 5px;
}

.circle.filled {
	background: #7D0343;
}

/*Specialized containers for speech bubbles*/

.process-container {
	display:inline-block;
	height: 250px;
	justify-content: flex-start;
	overflow:hidden;
	width:130px;
	border: 1px solid black;
}

.p-list {
	color: #000000;
	font-family: "Exo 2";
	font-size: 10px;
	justify-content: center;
	text-align: left;
}

.small-case-txt {
	display: inline-block;
	height: 140px;
	line-height: 1.25em;
	text-align: right;
	width: 140px;
}

.small-case-img {
	height: 140px;
	width: 140px;
}

.case-img {
	height: auto;
	margin-top: 5px;
	width: 250px;
}

.case-img-head {
	border-radius: 5px;
	height: auto;
	margin-top: 5px;
	max-width: 80%;
}

.part-case-img {
	height: 150px;
	margin: 20px;
	width: 220px;
}

.process-img {
	height: 120px;
	margin: 5px;
	width: 120px;
}

.selfie {
	border-radius: 50%;
	border: 5px solid white;
	height: 200px;
	margin: 40px;
	width: 200px;
}

/*Footer*/

#scroll-footer {
	align-items: center;
	display: flex;
	background-image: url("../images/frame/mobile-footer.svg");
	background-position:top left;
	background-size:100%;
	background-repeat: no-repeat;
	height: 40px;
	justify-content: space-evenly;
	position:fixed;
	bottom: 0;
	right:0;
	left:0;
}

#true-footer {
	align-items: center;
	background: #EC8A8A;
	display: flex;
	height: 60px;
	justify-content: space-evenly;
}

.footer-icon {
	filter: invert(1);
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	width: 40px;
}

/*media query start!*/

@media (max-width: 359px) {
    #main-nav {
        background-size:359px 100px;
    }
	}

/*Vertical vs. Left/Right media*/
	@media (max-width: 550px) {
  .left,
  .right {
    flex: 1;

  }
	.case-content{
		display: block;
	}
	.case-left, .case-right {

	}
}

	/*tablet media query*/
		@media (min-width: 550px) {
		    #main-nav {
						background-image: url("../images/frame/tablet-header.svg");
						background-size:100%;
				}
				#scroll-footer{
						background-image: url("../images/frame/tablet-footer.svg");
					}
				.bubble-part-top {
						width:400px;
						border-radius: 10px;
				}
				.bubble-part-bottom {
						width:400px;
						border-radius: 10px;
				}
				h1 {
					font-size:30px;
					line-height: 1.2em;
				}
				h2 {
					font-size:25px;
					line-height: 1.2em;
				}
				h3 {
					font-size:18px;
					line-height:1.2em;
				}
				.mini-bio {
					width: 350px;
				}
		}
	/**/

/*desktop media query*/
	@media (min-width: 850px) {
	    #main-nav {
					background-image: url("../images/frame/header-desktop.svg");
					background-size:100%;
			}
			#scroll-footer{
					background-image: url("../images/frame/mobile-footer-big.svg");
				}
			.bubble-part-top {
					width:600px;
					border-radius: 10px;
			}
			.bubble-part-bottom {
					width:600px;
					border-radius: 10px;
			}
			h1 {
				font-size: 30px;
				line-height: 1.4em;
			}
			h2 {
				font-size:30px;
				line-height: 1.2em;
			}
			h3 {
				font-size:18px;
				line-height:1.2em;
			}
			.mini-bio {
				font-size:20px;
				width: 500px;
			}
		}
/**/
