/*typography*/

h1 {
	font-family: nunito;
	font-size: 25px;
	font-weight: bold;
  line-height: 25px;
}

.h1-contact {
	font-size: 30px;
}

h1 span {
	font-weight: normal;
}

h2 {
	font-family: nunito;
	font-size: 20px;
	font-style: normal;
	line-height: 25px;
}

.Subdivision {
	width: 300px;
}

.quote {
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	text-align: left;
	width: 250px;
}

h3 {
	font-family: "Exo 2";
	font-size: 15px;
	font-style: normal;
	margin: 10px;
	padding-bottom: 10px;
}

.h3-contact {
	font-size: 20px;
	font-style: bold;
}

.mini-bio {
	text-align: left;
	width: 250px;
}

.brag {
	font-style: oblique;
}

.Callout {
	color: #000000;
	text-align: left;
	width: 80%;
}

.graph-text {
	align-items: center;
	display: flex;
	height: 80%;
	justify-content: center;
}

h4 {
	font-family: "Exo 2";
	font-size: 13px;
	font-style: bold;
	margin-top: 40px;
	text-align: right;
	width: 120px;
}

p {
	color: #000000;
	font-family: "Exo 2";
	font-size: 15px;
	font-style: normal;
	text-align: left;
	line-height: 20px;
	margin: 10px;
	width: 80%;
}

.list {
	color: #000000;
	font-weight: bold;
	font-family: "Exo 2";
	font-size: 12px;
	line-height: 16px;
	margin-left: 5px;
	text-align: left;
	width: 250px;
}

/*flex containers*/

.two-column-container {
	display: flex;
	flex-direction: row;
	flex: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}

.four-column-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 0 auto;
	justify-content: center;
	padding-bottom: 20px;
}

/*buttons*/

.arrow {
	height: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 15px;
}

.button {
	background: #FFCDCD;
	border-radius: 5px;
	color: #7D0343;
	display: block;
	font-family: nunito;
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 200px;
}

.button-alt {
	background: #ffffff;
	border-radius: 5px;
	color: #7D0343;
	display: block;
	font-family: nunito;
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 200px;
}

.button:hover {
	background: #0795C3;
	color: #ffffff;
}

.button-alt:hover {
	background: #0795C3;
	color: #ffffff;
}

/*Header content*/

.header-container {
/* OLD CODE
	align-items: center;

	display: flex;
	flex: 1;
	height: 60px;
	justify-content: space-between;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
*/
		align-items: center;
		display: flex;
		flex: 1;
		background-size: auto 100px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.face {
	height: 50px;
	margin: 10px;
	width: 50px;
}

.menu {
	height: 50px;
	justify-content: center;
	margin: 10px;
	width: 50px;
}

.menu-icon {
	filter: invert(1);
	height: 50px;
	width: 50px;
}

/*Big Head display*/

#big-face {
	height: 120px;
	margin: 10px;
	padding: 10px;
	width: 120px;
}

/*Indicates the background colors*/

body {
	background-color: #ec8a8a;
	color: #7d0343;
	width: 100%;
}

.body-alt {
	align-items: center;
	background-color: #ffffff;
	color: #7d0343;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.body-alt-other {
	align-items: center;
	background-color: #FFcdcd;
	color: #7d0343;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

/*BODY this indicates the content of the body and centers it as a column*/

#content {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
}

/*Indicates speech bubble behavior - After and Before behavior will be below their respective classes*/

.bubble-part-top {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	width: 280px;
}

.bubble-part-top:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;
}

/**/

.bubble-part-bottom {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	width: 280px;
}

.bubble-part-bottom:after {
	border: 21px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	content: '';
	height: 0;
	left: 70%;
	margin-left: -10.5px;
	margin-top: -21px;
	position: absolute;
	top: 0;
	width: 0;
}

/**/

.bubble-part-contact {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	width: 280px;
}

.bubble-part-contact:after {
	border: 21px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-right: 0;
	content: '';
	height: 0;
	left: 30%;
	margin-left: -10.5px;
	margin-top: -21px;
	position: absolute;
	top: 0;
	width: 0;
}

/**/

.bubble-full {
	align-items: center;
	background: #FFF0F0;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	text-align: center;
	width: 100%;
}

/**/

.bubble-full:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-bottom-color: #FFF0F0;
	border-top: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-top: -21px;
}

/**/

.bubble-full-white {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	text-align: center;
	width: 100%;
}

.bubble-full-white:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-top: -21px;
}

/*class denoted -accent are for case studies*/

.bubble-full-white-accent {
	align-items: center;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding-bottom: 100px;
	position: relative;
	text-align: center;
	width: 100%;
}

.bubble-full-white-accent:after {
	border: 21px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	content: '';
	height: 0;
	left: 10%;
	margin-left: -10.5px;
	margin-top: -21px;
	position: absolute;
	top: 0;
	width: 0;
}

/**/

.bubble-full-pink-accent {
	align-items: center;
	background: #EC8A8A;
	border-radius: 0px 0px 10px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 100%;
}

.bubble-full-pink-accent:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(236,138,138)' fill-opacity='1'%3E%3Cpolygon points='0,100 100,100 100,0'%3E%3C/polygon%3E%3C/svg%3E");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 10vw;
	left: 0;
	position: absolute;
	pointer-events: none;
	right: 0;
	top: -9.9vw;
	width: 100%;
	z-index: 1;
}

/**/

/*Speech bubble navs*/

.nav {
	left: 10px;
	position: absolute;
	top: 20px;
}

.nav-horizontal {
	align-items: center;
	display: flex;
	height: 60px;
	flex: 1;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 20px;
}

.circle {
	border: 2px solid #7D0343;
	border-radius: 50%;
	height: 5px;
	margin: 2px;
	width: 5px;
}

.circle.filled {
	background: #7D0343;
}

/*Specialized containers for speech bubbles*/

.process-container {
	height: 250px;
	justify-content: flex-start;
	width: 130px;
}

.p-list {
	color: #000000;
	font-family: "Exo 2";
	font-size: 10px;
	justify-content: center;
	text-align: left;
}

.small-case-txt {
	display: inline-block;
	height: 140px;
	line-height: 20px;
	text-align: right;
	width: 140px;
}

.small-case-img {
	height: 140px;
	width: 140px;
}

.case-img {
	height: auto;
	margin-top: 5px;
	max-width: 80%;
}

.case-img-head {
	border-radius: 5px;
	height: auto;
	margin-top: 5px;
	max-width: 80%;
}

.part-case-img {
	height: 150px;
	margin: 20px;
	width: 220px;
}

.process-img {
	height: 130px;
	margin: 5px;
	width: 130px;
}

.selfie {
	border-radius: 50%;
	border: 5px solid white;
	height: 200px;
	margin: 40px;
	width: 200px;
}

/*Footer*/

#footer {
	align-items: center;
	background: #EC8A8A;
	display: flex;
	height: 60px;
	justify-content: space-evenly;
}

.footer-icon {
	filter: invert(1);
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	width: 40px;
}
